* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	margin: 0px;
	background-color: hsl(34, 40%, 63%);
}

h1 {
	margin-top: 0px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: revert;
}

#content {
	position: relative;
	margin: 0px;
	background-color: hsl(34, 50%, 73%);
	padding: 20px;
	margin: 30px 100px;
}

#back-button {
	position: absolute;
	right: 20px;
}

img {
	display: block;
	margin: auto;
	max-width: 100%;
}

li {
	margin: 5px 0px;
}